body{
  background-color: aliceblue;
#main{

  position: relative;
  font-size: 0px;
  .box{
   /* display: inline-block;
    -webkit-text-size-adjust:none;*/
    padding: 15px 0 0 15px;
    float: left;

    background-color: aliceblue;
    .pic{
      padding: 10px;
      border: 1px solid #cccccc;
      box-shadow:0px 0px 5px #ccc;
      border-radius: 5px;
      -webkit-text-size-adjust:none;
      img{
        width: 200px;
        height: auto;
      }
    }
  }
}
}